<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>WA-ScheduledMessenger WebUI</title>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>

        <!--Header-->
        <h1>WA-ScheduledMessenger WebUI</h1>
        <p1 class="subtitle">
            Before continueing, please login
        </p1>

        <!--Login fields-->
        <form method="post">
            <label class="form_text" for="user">Enter username:</label><br>
            <input class="input" type="text" name="username"><br>
            <label class="form_text" for="pass">Enter password:</label><br>
            <input class="input" type="password" name="password"><br><br>
            <input id="submit_button" type="submit" Value="Login"><br><br>
        </form>
        
        <!--Footer-->
        <div class="footer">
            <footer>
                <p class="footerText">
                    © 2022 tdeerenberg |
                    <a href="https://github.com/tdeerenberg" target="_blank">Github</a> |
                    <a href="https://choosealicense.com/licenses/gpl-3.0/" target="_blank">GPLv3 License</a>
                </p>
            </footer>
        </div>

    </body>
</html>
